<% content_for :body_class do 'dark' end %>
<div class="container-fluid">
    <h1 class="text-center">Testing Console</h1>
    <br>
    <div class="row">
        <div class="col">
            <h2>Server</h2>
            <p>
                info eventually
            </p>
        </div>
        <div class="col">
            <h2>Phones</h2>
            <div class="row">
                <div class="col">
                    <p>Status: <span id="status">Not Running</span></p>
                    <p>Selected: <span id="num-selected">0</span></p>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" onclick="add();">Add Phone</button>
                    <button type="button" class="btn btn-success" id="start-all" onclick="startAll();">Start All</button>
                    <button type="button" class="btn btn-danger" id="stop-all" onclick="stopAll();">Stop All</button>
                    <%# <div class="btn-group" role="group" aria-label="Actions">
                    </div> %>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Port</th>
                            <th scope="col">Health</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="phoneData">
                        <%# app/javascript/src/main.js %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
